[Desktop Entry]
Encoding=UTF-8
Name=Stakinglab Coin
Comment=Stakinglab Coin P2P Cryptocurrency
Exec=labx-qt %u
Terminal=false
Type=Application
Icon=stakinglab128
MimeType=x-scheme-handler/stakinglab;
Categories=Office;Finance;
Name[en_US]=labx-qt.desktop
